.hero {
  background-image: url(../img/hero.jpg);
  background-size: cover;
  height: 400px;
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: flex-start;
  align-items: center;
}

i {
  vertical-align: bottom;
}

.card-content h6 {
  font-size: 19px;
  font-weight: 300;
}
