.hero {
  background-image: url(../img/hero.jpg);
  background-size: cover;
  height: 400px;
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: flex-start;
  align-items: center;
  margin-bottom: 40px !important;
}

i {
  vertical-align: bottom;
}

.card-title {
  font-size: 19px !important;
  font-weight: 300;
}

footer {
  margin-top: 40px !important;
}
